<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	    xmlns:tx="http://www.springframework.org/schema/tx"
	    xmlns:aop="http://www.springframework.org/schema/aop"
	    xmlns:context="http://www.springframework.org/schema/context"
	    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	    xmlns="http://www.springframework.org/schema/beans"
	    xsi:schemaLocation="
	    http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	  	http://www.springframework.org/schema/context
	   	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   	http://www.springframework.org/schema/tx
	    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	    http://www.springframework.org/schema/aop
	  	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	    http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 	<context:component-scan base-package="com.zubbo.service"/>
	<bean id="testService" class="com.zubbo.service.Impl.TestServiceImpl" />
	<bean id="userService" class="com.zubbo.service.Impl.UserServiceImpl" />
	
	<dubbo:application name="t" />
	<dubbo:registry address="zookeeper://127.0.0.1:2181" />
	<dubbo:protocol name="dubbo" port="20880"/>
	<dubbo:service interface="com.zubbo.api.TestService" ref="testService" />
	
</beans>
